{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div id="header" class="section">
<div class="container">
 <div class="row">
  <header role="banner" class="col-md-12">
    {{ page.header }}
  </header>
 </div><!-- /.row -->
 <div class="row"> 
  <div class="col-md-9">
  {{ page.primary_menu }}
  </div>
  <div class="col-md-3">
  {{ page.secondary_menu }}
  </div>
 </div><!-- /.row -->
</div> <!-- /.container -->
</div> <!-- /#header -->
    {% if page.breadcrumb or page.highlighted or page.help %}
<div id="contentheader" class="section">
 <div class="container">
  <div class="row">
   <div class="col-md-12">
   {{ page.breadcrumb }}
   {{ page.help }}   
   </div>
   <div class="col-md-12">
   {{ page.highlighted }}
   </div>
  </div><!-- /.row --> 
 </div><!--/.container -->  
</div><!-- /#contentheader -->  
    {% endif %}

  <main role="main" class="section">
   <div class="container">
    <div class="row">	
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="content {{ contentwidth }}">
      {{ page.content }}
    </div>{# /.layout-content #}

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first {{ sidebarfw }}" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second {{ sidebarsw }}" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}
    </div><!--/.container -->  
   </div><!-- /#contentheader --> 
  </main>

  {% if page.footer %}
  <footer role="contentinfo" class="section">
   <div class="container">
    <div class="row">
     <div class="col-md-12">	 
      {{ page.footer }}
	 </div> 
	</div><!--/.container -->  
   </div><!-- /#contentheader --> 
  </footer>
  {% endif %}